<!DOCTYPE html>
<html lang="en">
<%- include('partials/_head.ejs') %>
  <body>
<%- include('partials/_header.ejs') %>
    <main role="main" class="container mt-4">
      <div class="text-center">
        <h1>Welcome to HabitUp</h1>
        <p>Embark on your journey to building lasting habits with a personalized plan tailored just for you.</p>
        <% if (session && session.userId) { %>
          <a href="/dashboard" class="btn btn-primary">View Your Progress</a>
        <% } else { %>
          <a href="/auth/login" class="btn btn-secondary">Start Your Journey</a>
        <% } %>
      </div>
    </main>
  </body>
<%- include('partials/_footer.ejs') %>
  <script src="/js/main.js"></script>
</html>